.App {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: space-between;
}

.top-banner {
  display: grid;
  grid-template: "banner" 1fr;
  overflow: hidden;
  text-align: center;
  place-items: center;
  place-content: center;
}

.top-banner > * {
  grid-area: banner;
}

.img-landscape {
  display: none;
}

.img-portrait {
  display: block;
  width: 100%;
  height: auto;
  object-fit: cover;
  margin-top: 3.5em;
}

.top-banner article {
  display: flex;
  margin-top: 5em;
  place-self: start center;
  flex-direction: column;
  align-items: center;
}

.top-banner h1 {
  max-width: 250px;
  color: white;
  font-family: Caveat;
  font-weight: 300;
  font-size: 2rem;
}

.text-landscape {
  display: none;
}

.text-portrait {
  display: block;
  max-width: 300px;
  margin-top: 1em;
  color: rgb(235, 235, 235);
  font-family: Montserrat;
}

@media only screen and (min-width: 400px) and (orientation: portrait) {
  .top-banner h1 {
    max-width: 300px;
    font-size: 2.5rem;
  }

  .text-portrait {
    max-width: 325px;
    font-size: 1.1rem;
  }
}

@media only screen and (min-width: 550px) and (orientation: portrait) {
  .top-banner article {
    margin-top: 6em;
  }

  .top-banner h1 {
    max-width: 350px;
    font-size: 3rem;
  }

  .text-portrait {
    max-width: 425px;
    margin-top: 2em;
    font-size: 1.4rem;
  }
}

@media only screen and (min-width: 630px) and (orientation: landscape) {
  .img-portrait {
    display: none;
  }

  .img-landscape {
    display: block;
    width: 100%;
    height: auto;
    object-fit: cover;
    margin-top: 4em;
  }

  .top-banner article {
    margin-top: 3em;
    margin-left: 0.5em;
    place-self: center start;
  }

  .top-banner h1 {
    max-width: 225px;
    font-size: 1.8rem;
  }

  .text-portrait {
    display: none;
  }

  .text-landscape {
    display: block;
    max-width: 300px;
    margin-bottom: 0.75em;
    color: rgb(235, 235, 235);
    font-family: Montserrat;
    place-self: end center;
  }
}

@media only screen and (min-width: 800px) and (orientation: landscape) {
  .top-banner article {
    margin-top: 2.5em;
    margin-left: 0.75em;
  }

  .top-banner h1 {
    max-width: 275px;
    font-size: 2.25rem;
  }

  .text-landscape {
    max-width: 400px;
    margin-bottom: 1em;
    font-size: 1.1rem;
  }
}

@media only screen and (min-width: 1000px) and (orientation: landscape) {
  .top-banner article {
    margin-top: 2em;
    margin-left: 1.25em;
  }

  .top-banner h1 {
    max-width: 300px;
    font-size: 2.5rem;
  }

  .text-landscape {
    max-width: 500px;
    margin-bottom: 0.8em;
    font-size: 1.4rem;
  }
}

@media only screen and (min-width: 1200px) and (orientation: landscape) {
  .top-banner article {
    margin-top: 1.5em;
    margin-left: 1.5em;
  }

  .top-banner h1 {
    max-width: 350px;
    font-size: 3rem;
  }

  .text-landscape {
    max-width: 600px;
    margin-bottom: 0.8em;
    font-size: 1.6rem;
  }
}

@media only screen and (min-width: 1500px) and (orientation: landscape) {
  .top-banner article {
    margin-left: 1.75em;
  }

  .top-banner h1 {
    max-width: 500px;
    font-size: 3.5rem;
  }

  .text-landscape {
    max-width: 600px;
    margin-bottom: 1.25em;
    font-size: 1.75rem;
  }
}

@media only screen and (min-width: 1700px) and (orientation: landscape) {
  .top-banner article {
    margin-top: 1.5em;
    margin-left: 3.5em;
  }

  .top-banner h1 {
    max-width: 500px;
    font-size: 4rem;
  }

  .text-landscape {
    max-width: 650px;
    margin-bottom: 1.75em;
    font-size: 1.9rem;
  }
}
